/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #151D3B;
    color: #E1FFEC;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.6;
  }
  
  /* Estilos do Cabeçalho */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151D3B;
    padding: 20px 40px;
    border-bottom: 5px solid #D82148;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  #menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    color: #D82148;
  }
  
  /* Barra de Pesquisa */
  .search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  #search-input {
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    font-size: 1rem;
    transition: all 0.3s;
    margin-right: 5px;
    flex-grow: 2;
  }
  
  #search-button {
    padding: 5px 10px;
    background-color: #D82148;
    color: #E1FFEC;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 1.1rem;
    transition: all 0.3s;
  }
  
  #search-button:hover {
    background-color: #E1FFEC;
    color: #D82148;
    border: 1px solid #D82148;
  }
  
  .menu-container {
    position: relative;
  }
  
  nav#side-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 40px;
    background-color: #E1FFEC;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  nav#side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav#side-menu ul li {
    padding: 10px;
  }
  
  nav#side-menu ul li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #151D3B;
    border-bottom: 2px solid #D82148;
    transition: all 0.3s;
  }
  
  nav#side-menu ul li a:hover {
    background-color: #D82148;
    color: #E1FFEC;
  }
  
  /* Seção de Banner */
  .banner {
    padding: 40px 20px;
    text-align: center;
    background-color: #202A4B;
  }
  
  .banner img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  